{% extends "base.jinja2" %}

{% block content %}
    <h1>Download</h1>
    <p>Let's offer a file</p>
    <p><a class="btn btn-primary btn-lg" href="/download2" role="button">Download &raquo;</a></p>
{% endblock content %}

