{% extends "base.jinja2" %}

{% block content %}
    <h1>Pyramid Playground</h1>
    <p>Let's play</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Dummy Button &raquo;</a></p>
{% endblock content %}

